@font-face {
	font-family: aminofont;
	src: url(BebasNeue-Regular.ttf);
	font-weight: bold;
}

body {
  background-color: black;
  	text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'aminofont';
  margin: 0;
}
div {
font-family: aminofont;
color: white;
}
h4 {
font-family: aminofont;
color: black;
text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.music-container {
  background-color: #000000;
  display: table;
  position: relative;
  align-content: center;
  margin: 30px 0 100px 0;
  z-index: 10;
}

.img-container {
  position: center;
  justify-content: center;
  width: 200px;
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: inherit;
  position: relative;

  animation: rotate 5s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #3dff00;
  border: 0;
  color: black;
  font-size: 20px;
  cursor: pointer;
  padding: 8px 10px 8px 10px;
  margin: 0 20px;
  border-radius: 20%;
}

.action-btn.action-btn-big {
  color: black;
  font-size: 60px;
  border-radius: 12%;
  padding: 18px 25px 18px 25px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: #87ff62;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  top: 310px;
  left: 0;
  width: calc(100% - 100px);
  padding: 10px 20px 10px 20px;
  opacity: 0;
  transform: translateY(-300%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(0%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: black;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: white;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
